@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-bar {
    background-color: #000;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    padding: 15px;
}

.right-side ul {
    display: flex;
    align-items: center;
}

.right-side ul li {
    list-style: none;
    border-left: 1px solid rgba(141, 141, 141, 0.3);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side ul li a {
    text-decoration: none;
    color: #8d8d8d;
    padding: 0 30px;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.right-side ul li a:hover {
    background-color: #252525;
    color: white;
    transition: all ease 1000ms;
}

/* hero section */

.hero-section {
    display: flex;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hero-image,
.hero-text {
    width: 50%;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    transform: scale(1.1);
    padding-left: 20px;
}

.hero-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 80px 40px;
}


.sub-heading {
    font-family: "Lato", sans-serif;
    color: #000;
    letter-spacing: 4px;
}

.main-heading {
    font-family: "Lato", sans-serif;
    font-size: 4.375rem;
    color: #000;
    max-width: 485px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 70px;
}

.line {
    /* position: relative; */
    width: 100%;
}

.line img {
    position: absolute;
    left: 535px;
}

.subtext {
    font-family: "Lato", sans-serif;
    color: #000;
    font-size: 15px;
    max-width: 377px;
    font-weight: 400;
    line-height: 19px;
}

.main-btn {
    background-color: transparent;
    border: 1px solid #000;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    transition: all ease 1000ms;
}

.main-btn:hover {
    background-color: #000;
    color: white;
}

.sub-section {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
}

.sub-text-parent {
    max-width: 420px;
}