<div class="nav-bar">
  <div class="left-side">
    <img src="/assets/space.png" alt="Be Space" />
  </div>

  <div class="right-side">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/technology">Technology</a></li>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>
