<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header", { title: "Home | BeSpace" }) %>

  <body>
    <%- include("partials/navbar") %>

    <div class="hero-section">
      <div class="hero-image">
        <img src="./assets/hero-image.jpg" alt="" />
      </div>

      <div class="hero-text">
        <p class="sub-heading">New at Be Space</p>

        <h1 class="main-heading">The new way of exploring space</h1>

        <div class="line">
          <img src="./assets/home_space_hr.png" alt="line" />
        </div>

        <p class="subtext">
          Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit
        </p>

        <button class="main-btn">Read More</button>
      </div>
    </div>

    <div class="sub-section-container">
      <div class="sub-section">
        <div class="sub-text-parent">
          <h2 class="sub-heading">New way of traveling</h2>

          <p class="sub-text">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>

          <p class="sub-text-light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate.
          </p>

          <p class="sub-text-light">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
            numquam eius modi tempora incidunt ut labore et dooluptatem.
          </p>

          <div class="btn-divider">
            <button class="main-btn">Read More</button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="sub-right">
          <div class="sub-image">
            <img src="./assets/home_space_pic1.jpg" alt="space travel" />
          </div>

          <ul class="sub-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Duis aute irure dolor in reprehenderit in voluptate velit esse.
            </li>
            <li>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia.
            </li>
            <li>Incididunt ut labore et dolore magna aliqua.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="slider">
      <div class="slides">
        <div class="slide"><img src="./assets/slide1.jpg" alt="Slide 1" /></div>
        <div class="slide"><img src="./assets/slide2.jpg" alt="Slide 2" /></div>
        <div class="slide"><img src="./assets/slide1.jpg" alt="Slide 3" /></div>
        <div class="slide"><img src="./assets/slide2.jpg" alt="Slide 4" /></div>
      </div>

      <div class="slider-content">
        <p>MAY 9, 2014</p>
        <h1>Vestibulum ante ipsum primis</h1>

        <button>Read More</button>
      </div>
    </div>

    <div class="teams-section">
      <div class="team-left">
        <h2>Meet Scientists</h2>
        <button class="main-btn">Read More</button>
      </div>

      <div class="divider"></div>

      <div class="team-right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor.
        </p>

        <div class="team-container">
          <div class="team-member">
            <img src="./assets/team1.jpg" alt="Team Member 1" />
            <h3>Martines Walanti</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolorsi architecto beatae
              vitae dicta sunt explicabo.
            </p>
          </div>
          <div class="team-member">
            <img src="./assets/team2.jpg" alt="Team Member 2" />
            <h3>Quoponum allen rolenpa</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolorsi architecto beatae
              vitae dicta sunt explicabo.
            </p>
          </div>
          <div class="team-member">
            <img src="./assets/team3.jpg" alt="Team Member 3" />
            <h3>Labore et dolorsi architecto</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolorsi architecto beatae
              vitae dicta sunt explicabo.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-section">
      <div class="image">
        <img src="./assets/bg.jpg" alt="background image" />
      </div>

      <div class="content-container">
        <div class="contact-left">
          <div class="background-left">
            <h2>Dolor et omnien quan:</h2>

            <div class="feature">
              <img src="./assets/icon1.png" alt="icon" />
              <div>
                <h3>Tincidunt mauris</h3>
                <p>
                  Vivamus tincidunt nisl dolor, sit amet posuere lorem viverra
                  sed. Sed scelerisque, ex a pretium egestas, tortor ex faucibus
                  orci.
                </p>
              </div>
            </div>

            <div class="feature">
              <img src="./assets/icon2.png" alt="icon" />
              <div>
                <h3>Vestibulum commodo</h3>
                <p>
                  Suspendisse at purus nec nunc porttitor rutrum at auctor
                  turpis. Aliquam tellus magna, tempor non iaculis in.
                </p>
              </div>
            </div>

            <div class="feature">
              <img src="./assets/icon3.png" alt="icon" />
              <div>
                <h3>Malesuada fames</h3>
                <p>
                  Sed quis nisl pulvinar, vehicula augue ut, efficitur ipsum.
                  Maecenas bibendum tortor auctor, scelerisque mi id, laoreet
                  risus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="contact-right">
          <h2>Lorem ipsum dolor mit samet</h2>
          <p>
            Nunc non ante ipsum. Aliquam et malesuada felis! Vivamus at velit ac
            mauris ornare dapibus vitae sit amet est. Etiam porttitor semper sem
            at mollis turpis duis.
          </p>
          <ul>
            <li>
              Duis aute irure dolor in reprehenderit in voluptate velit esse.
            </li>
            <li>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa.
            </li>
            <li>Incidunt ut labore et dolore magnam aliquam.</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
