<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header", { title: "Technology | BeSpace" }) %>

  <body>
    <%- include("partials/navbar") %>

    <div class="tech-hero">
      <img src="./assets/tech_header.jpg" alt="Technology" />
      <h1>Technology</h1>
    </div>

    <div class="tech-section">
      <div class="tech-image">
        <img src="./assets/tech1.jpg" alt="Technology Image" />
      </div>

      <div class="tech-content">
        <p class="tech-subtitle">Duis aute irure dolor</p>

        <h2 class="tech-title">Lorem ipsum dolor mit samet</h2>

        <div class="little-line"></div>

        <p class="tech-text">
          Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit.
        </p>

        <p class="tech-text">
          Suspendisse eu ullamcorper risus. Pellentesque mattis odio scelerisque
          velit tincidunt. Praesent ac feugiat elit, at aliquam massa.
        </p>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
